<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.pingcai.dao.mapper.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="me.pingcai.dao.entity.Authority" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="authority_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="authority_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from authority
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.pingcai.dao.entity.Authority" >
    insert into authority (id, authority_name, authority_desc
      )
    values (#{id,jdbcType=BIGINT}, #{authorityName,jdbcType=VARCHAR}, #{authorityDesc,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="me.pingcai.dao.entity.Authority" >
    update authority
    set authority_name = #{authorityName,jdbcType=VARCHAR},
      authority_desc = #{authorityDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, authority_name, authority_desc
    from authority
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, authority_name, authority_desc
    from authority
  </select>
</mapper>